* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}


header, footer {
    align-items: center;
    justify-content: center;
    flex: 0.5; /* Takes 1/6th of the screen */
    text-align: center;
}

header {
    background-color: #333;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    /* padding: 10px; */
    position: absolute;
    bottom: 0;
    width: 100%;
}

main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 90vh;
} 

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
}

.bar-1 {
    background: #ff5733;
    flex: 1;
    display: flex;
    flex-direction: column; /* Flex column to divide into boxes */
    justify-content: space-between;
    align-items: center;
}

/* Form Styling */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 8px;
    width: 250px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 8px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

button {
    background: #222;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #555;
}

/* Stack Styling */
.stack-container {
    display: flex;
    flex-direction: column-reverse; /* Newest input appears at the top */
    align-items: center;
    /* max-height: 180px; */
    /* overflow-y: auto; */
    /* margin-top: 15px; */
    width: 250px;
}

.stack-item {
    background: white;
    color: black;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

/* Start Button Styling */
.start-button-container {
    margin-top: 20px;
}

#start-button {
    padding: 10px 20px;
    background-color: #444;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-button:hover {
    background-color: #666;
}

.hidden-stack {
    display: none;
}


/* Styles for Bar 2 GIF */
.bar-2 {
    background: #33aaff;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gears-gif {
    width: 150px;
    height: auto;
    display: none; /* Initially hidden */
}

.bar-3 {
    background: #33cc33;
    flex: 1;
}
